<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>895456740185-d81thvq61sstj8a2tr5hu307ii66v8ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895456740185-d81thvq61sstj8a2tr5hu307ii66v8ik</string>
	<key>API_KEY</key>
	<string>AIzaSyDSjy94THa6ZVUd9tfNlSxXGc-48xTx0hc</string>
	<key>GCM_SENDER_ID</key>
	<string>895456740185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.GkFoxes.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-81540</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-81540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:895456740185:ios:06facac8056129dc</string>
	<key>DATABASE_URL</key>
	<string>https://twitter-clone-81540.firebaseio.com</string>
</dict>
</plist>
