<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>545649704097-ge75mb1uqj1hla403chd5574uqlqjdbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545649704097-ge75mb1uqj1hla403chd5574uqlqjdbj</string>
	<key>API_KEY</key>
	<string>AIzaSyDd6GjMkrHNcoG9vrYu8kpe59sfOHs8laE</string>
	<key>GCM_SENDER_ID</key>
	<string>545649704097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GkFoxes.twitter-project</string>
	<key>PROJECT_ID</key>
	<string>twitter-project-64359</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-project-64359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:545649704097:ios:2ae0b233d200d85e</string>
	<key>DATABASE_URL</key>
	<string>https://twitter-project-64359.firebaseio.com</string>
</dict>
</plist>
